@model List<Vidly.Models.Movie>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<h1>Movies</h1>
@if (!Model.Any())
{
    <p>No movies.</p>
}
else
{
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Movie name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model)
            {
                <tr>
                    <th>@movie.Id</th>
                    <td>@movie.Name</td>
                </tr>
            }
        </tbody>
    </table>
}