@model Vidly.Models.Customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details of @Model.Name (@Model.Id)</h1>

<ul>
    <li>Membership type: @Model.MembershipType.Name</li>
    @if (Model.BirthDate.HasValue)
    {
        <li>Birthdate: @Model.BirthDate.Value.ToShortDateString()</li>
    }
</ul>



